vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 May 2014 11:33:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|style/main.css
vti_author:SR|DUO11\\Mark
vti_modifiedby:SR|DUO11\\Mark
vti_timecreated:TR|26 May 2014 11:33:48 -0000
vti_cacheddtm:TX|26 May 2014 11:33:48 -0000
vti_filesize:IR|1108
vti_cachedlinkinfo:VX|S|ClearSans-Light-webfont.eot S|ClearSans-Light-webfont.eot S|ClearSans-Light-webfont.svg S|ClearSans-Light-webfont.woff S|ClearSans-Regular-webfont.eot S|ClearSans-Regular-webfont.eot S|ClearSans-Regular-webfont.svg S|ClearSans-Regular-webfont.woff S|ClearSans-Bold-webfont.eot S|ClearSans-Bold-webfont.eot S|ClearSans-Bold-webfont.svg S|ClearSans-Bold-webfont.woff
vti_cachedsvcrellinks:VX|FSUS|style/fonts/ClearSans-Light-webfont.eot FSUS|style/fonts/ClearSans-Light-webfont.eot FSUS|style/fonts/ClearSans-Light-webfont.svg FSUS|style/fonts/ClearSans-Light-webfont.woff FSUS|style/fonts/ClearSans-Regular-webfont.eot FSUS|style/fonts/ClearSans-Regular-webfont.eot FSUS|style/fonts/ClearSans-Regular-webfont.svg FSUS|style/fonts/ClearSans-Regular-webfont.woff FSUS|style/fonts/ClearSans-Bold-webfont.eot FSUS|style/fonts/ClearSans-Bold-webfont.eot FSUS|style/fonts/ClearSans-Bold-webfont.svg FSUS|style/fonts/ClearSans-Bold-webfont.woff
