vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 May 2014 16:46:40 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_author:SR|DUO11\\Mark
vti_modifiedby:SR|DUO11\\Mark
vti_timecreated:TR|26 May 2014 11:33:48 -0000
vti_nexttolasttimemodified:TW|26 May 2014 15:41:53 -0000
vti_cacheddtm:TX|26 May 2014 16:46:42 -0000
vti_filesize:IR|19906
vti_cachedlinkinfo:VX|Q|fonts/clear-sans.css S|../tile-images/tile-2.jpg S|../tile-images/tile-4.jpg S|../tile-images/tile-8.jpg S|../tile-images/tile-16.jpg S|../tile-images/tile-32.jpg S|../tile-images/tile-64.jpg S|../tile-images/tile-128.jpg S|../tile-images/tile-256.jpg S|../tile-images/tile-512.jpg S|../tile-images/tile-1024.jpg S|../tile-images/tile-2048.jpg
vti_cachedsvcrellinks:VX|FQUS|style/fonts/clear-sans.css FSUS|tile-images/tile-2.jpg FSUS|tile-images/tile-4.jpg FSUS|tile-images/tile-8.jpg FSUS|tile-images/tile-16.jpg FSUS|tile-images/tile-32.jpg FSUS|tile-images/tile-64.jpg FSUS|tile-images/tile-128.jpg FSUS|tile-images/tile-256.jpg FSUS|tile-images/tile-512.jpg FSUS|tile-images/tile-1024.jpg FSUS|tile-images/tile-2048.jpg
